<div id="container">
<div id="main">
            
            <div class="login bg-black animated fadeInDown">
			<!-- begin brand -->
<!-- 			<div class="login-header"> -->
<!-- 				<div class="brand"> -->
<!-- 				<br> -->
<!-- 					<span class="logo"></span> <b>Log in</b>  -->
<!-- 				</div> -->
<!-- 				<div class="icon"> -->
<!-- 					<i class="fa fa-lock"></i> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- end brand -->
			<!-- begin login-content -->
			<div class="login-content">
				<form ng-submit="loginUser()" name="myForm" class="margin-bottom-0">
					<div class="form-group m-b-20">
						<input type="text" name="email" ng-model="credentials.username" class="form-control form-control-lg inverse-mode" placeholder="Email Address" required="">
					</div>
					<div class="form-group m-b-20">
						<input type="password" name="password" ng-model="credentials.password" class="form-control form-control-lg inverse-mode" placeholder="Password" required="">
					</div>
					<div class="login-buttons">
						<button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
<!-- 						<button type="button" ng-click="resetForm()" class="btn btn-warning btn-sm greenbut">Reset Form</button> -->
					</div>
				</form>
					<div class="alert alert-danger" ng-show="loginerror">There
						was a problem logging in. Please try again.</div>
			</div>
			<!-- end login-content -->
		</div>
<!--             <div id="preview"> -->
<!--              <form action="index.html" method="GET" class="margin-bottom-0"> -->
<!-- 					<div class="form-group m-b-20"> -->
<!-- 						<input type="text" class="form-control form-control-lg inverse-mode" placeholder="Email Address" required=""> -->
<!-- 					</div> -->
<!-- 					<div class="form-group m-b-20"> -->
<!-- 						<input type="password" class="form-control form-control-lg inverse-mode" placeholder="Password" required=""> -->
<!-- 					</div> -->
<!-- 					<div class="login-buttons"> -->
<!-- 						<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!--             </div> -->
        </div>
        <script>
            $(document).ready(function(){
                function fix_height(){
                    var h = $("#tray").height();    
                    $("#preview").attr("height", (($(window).height()) - h) + "px");
                }
                $(window).resize(function(){ fix_height(); }).resize();
                //$("#preview").contentWindow.focus();
            });
        </script>
          </div>
          
         