
<div class="container" ng-show="logged">

		<div class="panel-body">
			<div id="data-table-default_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap no-footer">
				

				<div class="card-deck">
				<div class="row" ng-repeat="current in list" ng-init="i = $index">
					<div class="card" ng-repeat="current in list.slice(i*6,(i*6)+6) | filter:search">
						<button type="button" class="btn" style="background-color:transparent" 
								data-toggle="popover"  data-trigger="focus" data-html="true"
								data-content='<p>Autore: {{current.author}}</p><p class="font-weight-light">{{current.description}}</p><a href="{{current.bookFileName}}" ng-if="current.cvExternalPath != null" target="_blank" download>
						 				<i class="fa fa-download" ></i>
						 				</a>'
								data-content='{{current.description}}'>
						<img class="card-img-top"
							src='{{thumbImgFullPath + current.thumbnailFileName}}'
							onError="this.src='./img/default.jpg';"
							alt="Card image cap">
							</button>
						<div class="card-body">
							<h5 class="text-truncate">{{current.title}}</h5>
						
							<button type="button" class="btn btn-sm btn-info"
								data-toggle="popover"  data-trigger="focus" data-html="true"
								data-content='<p>Autore: {{current.author}}</p><p class="font-weight-light">{{current.description}}</p><a href="{{current.bookFileName}}" ng-if="current.cvExternalPath != null" target="_blank" download>
						 				<i class="fa fa-download" ></i>
						 				</a>'
								data-content='{{current.description}}'>Download</button>
						</div>
					</div>
				</div>
				</div>

			</div>
		</div>

</div>
