

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="it" ng-app="userregistrationsystem">
<!--<![endif]-->
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<meta charset="utf-8">
<title>SkillView - Home Page</title>
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
	name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- ================== BEGIN BASE CSS STYLE ================== -->
<link href="http://centauri.proximainformatica.com/centauri/common/css/ext/bootstrap/4.2.1/bootstrap.min.css" rel="stylesheet">
<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<link href="./css/style.css" rel="stylesheet">
<link href="./css/style-responsive.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">
<!-- ================== END BASE CSS STYLE ================== -->


<!-- ================== BEGIN PROXIMA CSS ================== -->
<link href="./css/content.css" rel="stylesheet">
<link href="./css/notice.css" rel="stylesheet">
<link href="./css/index.css" rel="stylesheet">
<!-- ================== END PROXIMA CSS ================== -->



<style>
@media print {
	#ghostery-purple-box {
		display: none !important
	}
}
</style>

</head>
<body class="  pace-done">
	<div class="pace  pace-inactive">
		<!-- begin #page-loader bar -->
		<div class="pace  pace-inactive">
			<div class="pace-progress" style="width: 100%;"
				data-progress-text="100%" data-progress="99">
				<div class="pace-progress-inner"></div>
			</div>
			<div class="pace-activity"></div>
		</div>
		<!-- end #page-loader bar -->
		<div class="pace-progress" style="width: 100%;"
			data-progress-text="100%" data-progress="99">
			<div class="pace-progress-inner"></div>
		</div>
		<div class="pace-activity"></div>
	</div>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show d-none">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-fixed page-header-fixed show">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">

			<!-- begin navbar-header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					data-click="sidebar-toggled">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"
					style="padding: 0px; margin: auto; margin-top: 8px; width: 220px;">
					<!-- 					<img src="./img/centauri.png" --> <img
					src="http://centauri.proximainformatica.com/centauri/common/img/centauri/logo/centauri.png"
					style="margin-left: 8px; margin-top: 5px; height: 70%; width: auto;"
					title="mycompanylogo"><label class="skillview">
						books</label>
				</a>
				
				
			</div>
			<ul class="navbar-nav navbar-right">
			<li ng-show="authenticated"><div class="dataTables_filter" >
							<input type="search" ng-model="search"
								class="form-control input-sm" placeholder="Cerca..."
								aria-controls="data-table-default">
						</div></li>
				<li ng-show="authenticated"><a
						href="#/update-user/{{userLogged.id}}"><span
							class="glyphicon glyphicon-user"></span> {{userLogged.email}}</a></li>
						<li ng-show="authenticated"><a href="#/logout"><span
							class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			<!-- end navbar-header -->
		</div>
		<!-- end #header -->

		</div>

		<!-- begin #content -->
		<div id="content"  class="content" style="margin:0 0 0 0" data-fl-scrolls ng-view></div>
		<!-- end #content -->

	</div>
	<!-- end page container -->

	

	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/angularjs/1.4.9/angular.js" ></script>
	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/angularjs/1.4.9/angular-resource.js"></script>
	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/angularjs/1.4.9/angular-route.js"></script>

	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/jquery/3.3.1/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/jquery/jquery-ui.min.js" ></script>
	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/bootstrap/4.2.1/bootstrap.js" ></script>
	<script type="text/javascript" src="http://centauri.proximainformatica.com/centauri/common/js/ext/pace/0.5.6/pace.min.js"></script>
	<script src="./js/env.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/pace.js"></script>
	<script src="./js/bookController.js"></script>
	<script src="./js/loginController.js"></script>
	<script src="./js/logoutController.js"></script>



</body></html>